
<h1 style="margin: 2rem auto; text-align: center;">Welcome my friend :)</h1>
<div style="display: flex; justify-content: center;
            align-items: center; flex-direction: column;
            font-size: 22px; margin: 0;">
<% if user_signed_in? %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete %><br>
    <%= link_to "New Post", new_post_path %>
<% else %>

    <%= link_to "Log in", new_user_session_path %><br>
    <%= link_to "Sign up", new_user_registration_path %><br>

<% end %>
</div>

<!-- <%= user_session  %> -->


<% @posts.each do |post| %>
<div style="padding: 2rem; margin: 2rem; text-align: center; border: #000 1px solid;">
    <h2> <%= post.title %> </h2>
    <% if user_signed_in? %>
    <strong> Author: <%= post.author %> </strong>
    <% else %>
    <strong>***** Uups! Author Not Available **** </strong>
    <% end %>
    
    <p style="display: block; word-wrap: break-word;"> <%= post.body %> </p>
    <strong> <%= post.location %> </strong>
    
</div>
<% end %>